@model JobSeeker
@{
    ViewBag.Title = "Delete JobSeeker Profile";
}

<main class="container">
    <h1 class="mt-4 mb-4">Confirm Delete</h1>
    <form asp-controller="JobSeeker" asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ID">
        <p>Are you sure you want to delete the profile of '@Model.firstName @Model.lastName'?</p>
        <button type="submit" class="btn btn-danger mt-3">Confirm Delete</button>
        <a class="btn btn-secondary mt-3" asp-controller="JobSeeker" asp-action="Index">Cancel</a>
    </form>
</main>


