

<section>
    <div class="banner text-center">
         <img src="~/images/job.png"  alt="Descriptive Text" width="1200" height="400">
    </div>
</section>

<!-- Remove the 'search-job' div entirely if you don't want it -->

    
<!-----------top recruiters----------->

<section id="recruiters">
<div class="conatiner text-center">
<h3>TOP RECRUITERS</h3>
    <div>
     <img src="~/images/dell.png" />
    <img src="~/images/oracle.png">    
    <img src="~/images/cisco.png">    
    <img src="~/images/netflex.png">    
    <img src="~/images/affect.png">    
    <img src="~/images/amazon.png">    
    </div>
    
    <div>
        <img src="~/images/Infosys.png">    
        <img src="~/images/byju.png">    
        <img src="~/images/indeed.png">    
        <img src="~/images/tnw.png">    
        <img src="~/images/DANONE.png">    
        <img src="~/images/IBM.png">    
    </div>
    
    <div>
        <img src="~/images/adobe.png">    
        <img src="~/images/IDC.png">    
        <img src="~/images/fadex.png">    
        <img src="~/images/wallmart.png">    
        <img src="~/images/microsoft.png">    
        <img src="~/images/forbes.png">    
    </div>
</div>    
</section>

<div class="search-job text-center">
    <input type="text" class="form-control" placeholder="search Keyword">
    <input type="text" class="form-control" placeholder="company">
    <input type="text" class="form-control" placeholder="location">
    <input type="button" class="btn btn-primary" value="Find Job">
</div>
    
<!------------Recent Jobs--------------->
    
<section id="jobs">
<div class="container">
<h5>RECENT UPDATES</h5>
    
<div class="company-details">
<div class="job-update">
    <h4><b>Software Engineer</b></h4>
    <p>Adobe</p>
    <i class="fa fa-briefcase"></i><span> 0-1 yrs</span><br>
    <i class="fa fa-inr"></i><span> 110,000 - 150,000 USD</span><br>
    <i class="fa fa-map-marker"></i><span>Seattle, WA</span>
    <p>Skills <i class="fa fa-angle-double-right"></i><small>java</small> <small>python</small><small>HTML,CSS</small><small>.Net</small></p>
   
    <div>
        <div class="apply-btn">
          <a href="https://careers.adobe.com/us/en/job/ADOBUSR138060EXTERNALENUS/Software-Development-Engineer" class="btn btn-primary">
            Apply
          </a>
        </div>
      </div>
      
    
<div class="company-details">
<div class="job-update">
    <h4><b>Software Engineer</b></h4>
    <p>Apple</p>
    <i class="fa fa-briefcase"></i><span> 3 yrs</span><br>
    <i class="fa fa-inr"></i><span> 116,000 - 208,000 USD</span><br>
    <i class="fa fa-map-marker"></i><span>Santa Clara Valley (Cupertino), CA</span>
    <p>Skills <i class="fa fa-angle-double-right"></i><small>Programing</small> <small>IOS SDK</small><small>API</small><small>visionOS</small></p>
   
    <div>
        <div class="apply-btn">
          <a href="https://jobs.apple.com/en-us/details/200502182/software-engineer-apple-media-services?team=SFTWR" class="btn btn-primary">
            Apply
          </a>
        </div>
      </div>
    
<div class="company-details">
<div class="job-update">
    <h4><b>Power Electronics Firmware Test Engineer,</b></h4>
    <p>Tesla Energy</p>
    <i class="fa fa-briefcase"></i><span> 2 yrs</span><br>
    <i class="fa fa-inr"></i><span> 130,000 - 160,000 USD</span><br>
    <i class="fa fa-map-marker"></i><span>Palo Alto, California/span>
    <p>Skills <i class="fa fa-angle-double-right"></i><small>MATLAB</small> <small>python</small><small>HW/SW</small><small>electrical CAD and circuit design</small></p>
   
    <div>
        <div class="apply-btn">
          <a href="https://www.tesla.com/careers/search/job/power-electronics-firmware-test-engineer-tesla-energy-209304" class="btn btn-primary">
            Apply
          </a>
        </div>
      </div>
    
<div class="company-details">
<div class="job-update">
    <h4><b>Assoc Software Dev Engineer</b></h4>
    <p>Yahoo</p>
    <i class="fa fa-briefcase"></i><span> 0-1 yrs</span><br>
    <i class="fa fa-inr"></i><span> 67,000 - 120,000 USD</span><br>
    <i class="fa fa-map-marker"></i><span>REMOTE</span>
    <p>Skills <i class="fa fa-angle-double-right"></i><small>java</small> <small>C+</small><small>Big Data</small><small>ML/AI</small></p>
   
    <div>
        <div class="apply-btn">
          <a href="https://ouryahoo.wd5.myworkdayjobs.com/en-US/careers/job/United-States-of-America---Remote/Assoc-Software-Dev-Engineer_JR0022998" class="btn btn-primary">
            Apply
          </a>
        </div>
      </div>
    
<div class="company-details">
<div class="job-update">
    <h4><b>Library Software Engineer</b></h4>
    <p>Datadog</p>
    <i class="fa fa-briefcase"></i><span> 3 yrs</span><br>
    <i class="fa fa-inr"></i><span> 130,000 - 200,000 USD</span><br>
    <i class="fa fa-map-marker"></i><span>New York, NY</span>
    <p>Skills <i class="fa fa-angle-double-right"></i><small>Programing</small> <small>python</small><small>HTML,CSS</small><small>Flask</small></p>
   
    <div>
        <div class="apply-btn">
          <a href="https://careers.datadoghq.com/detail/5369834/?gh_jid=5369834&gh_src=8363eca61" class="btn btn-primary">
            Apply
          </a>
        </div>
      </div>
   
    <ul class="pagelink text-center">
        <li class="left-arrow">&#8592;</li>
        <li class="active">1</li>
        <li>2</li>
        <li>4</li>
        <li>5</li>
        <li class="right-arrow">&#8594;</li>
    </ul>
    
</div>    
</section>
    
