@model JobHub.ViewModels.LoginJobSeekerViewModel
@{
    ViewData["Title"] = "Login Job Seeker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form asp-action="LoginJobSeeker" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Remember" class="form-check-input" />
        <label asp-for="Remember" class="form-check-label"></label>
    </div>

    <input type="submit" value="Log in" class="btn btn-warning" />
    @Html.AntiForgeryToken()
</form>
